{{ form_start(form) }}
<div class="add-article-form col-10 col-md-6 col-xl-4 mx-auto">
	{% if article.photo %}
		<div class="photo-upload-box mx-auto">
			<input type="file" id="photo" name="{{ field_name(form.photo) }}" value="{{ field_value(form.photo) }}" style="display: none;" multiple>
			<label for="photo" class="upload-label">
				<img id="preview" src="{{ asset('uploads/' ~ article.photo) }}" alt="Article Photo">
			</label>
		</div>
	{% else %}
		<div class="photo-upload-box mx-auto">
			<input type="file" id="photo" name="{{ field_name(form.photo) }}" value="{{ field_value(form.photo) }}" style="display: none;" multiple>
			<label for="photo" class="upload-label">
				<span class="plus-sign">+</span>
				<img id="preview" src="" alt="Uploaded Image" style="display: none;">
			</label>
		</div>
	{% endif %}


	<div class="mx-auto">
		<input name="{{ field_name(form.nom) }}" value="{{ field_value(form.nom) }}" placeholder="nom de l'article *" class="form-control" required>
		<span class='form-errors'>{{ form_errors(form.nom) }}</span>
	</div>

	<div class="mx-auto">
		<input name="{{ field_name(form.quantity) }}" value="{{ field_value(form.quantity) }}" placeholder="nombre d'articles *" class="form-control" required type="number" min="1">
		<span class='form-errors'>{{ form_errors(form.quantity) }}</span>
	</div>

	<div>
		<div class="text-center text-white fw-bold">
			catégorie *</div>
		{% if form.categories %}
			{% for choice in form.categories %}
				<div class="checkbox">
					{{ form_widget(choice, {'attr': {'class': 'entity-checkboxes'}}) }}
					{{ form_label(choice) }}
				</div>
			{% endfor %}
			<div class="mt-3">
				<a href="{{path('app_user_categories_new')}}" class="button-vert petit p-2">
					Ajouter une catégorie
				</a>
			</div>
		{% else %}
			<div class="mt-2 text-white fst-italic text-center">Vous n'avez pas de catégorie pour cet enfant,
				<a href="{{path('app_user_categories_new')}}">
					<u>ajoutez-en une</u>
				</a>
			</div>
		{% endif %}
		<span class='form-errors'>{{ form_errors(form.categories) }}</span>
	</div>

	<div>
		<div class="text-center text-white fw-bold">taille *</div>
		{% if form.tailles %}
			{% for choice in form.tailles %}
				<div class="checkbox">
					{{ form_widget(choice, {'attr': {'class': 'entity-checkboxes'}}) }}
					{{ form_label(choice) }}
				</div>
			{% endfor %}
			<div class="mt-3">
				<a href="{{path('app_user_tailles_new')}}" class="button-vert petit p-2">
					Ajouter une taille
				</a>
			</div>
		{% else %}
			<div class="mt-2 text-white fst-italic text-center">Vous n'avez pas de taille pour cet enfant,
				<a href="{{path('app_user_tailles_new')}}">
					<u>ajoutez-en une</u>
				</a>
			</div>
		{% endif %}

		<span class='form-errors'>{{ form_errors(form.tailles) }}</span>
	</div>


	<div>
		<div class="text-center text-white fw-bold">sexe *</div>
		{% for choice in form.sexe %}
			<div class="checkbox">
				{{ form_widget(choice, {'attr': {'class': 'entity-checkboxes'}}) }}
				{{ form_label(choice) }}
			</div>
		{% endfor %}
		<span class='form-errors'>{{ form_errors(form.sexe) }}</span>
	</div>

	<div class="mx-auto">
		<input name="{{ field_name(form.offertPar) }}" value="{{ field_value(form.offertPar) }}" placeholder="offert part (falcultatif)" class="form-control">
		<span class='form-errors'>{{ form_errors(form.offertPar) }}</span>
	</div>

	<div class="mx-auto">
		<textarea id="{{ field_name(form.description) }}" name="{{ field_name(form.description) }}" placeholder="description (falcultatif)" class="form-control text-area"></textarea>
		<span class='form-errors'>{{ form_errors(form.description) }}</span>
	</div>

	<div class="mx-auto">
		<input name="{{ field_name(form.prixAchete) }}" value="{{ field_value(form.prixAchete) }}" placeholder="prix acheté (falcultatif)" class="form-control">
		<span class='form-errors'>{{ form_errors(form.prixAchete) }}</span>
	</div>
</div>
<div class="text-center mb-5">
	<button class="button-vert btn">{{ button_label|default('Valider') }}</button>
</div>
{{form_end(form)}}
