{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bibou - Page articles par tailles
{% endblock %}

{% block body %}
	<div class="titre-client bg-jaune my-4">Les affaires de
		<span class="cursive">
			{{ enfant.prenom}}</span><br>
		par taille
	</div>

	{% if articlesBySizeAndCategory %}
		{% for taille, categories in articlesBySizeAndCategory %}
			<div class="titre-client-2 bg-violet-fonce mt-5 mb-4 mx-auto">{{ taille }}&nbsp;:&nbsp;{{ sizeCounts[taille]}}</div>
			{% for categorie, articles in categories %}
				<div class="text-center">
					<button class="btn btn-toggle titre-client-2 button-violet-clair mb-4">{{ categorie }}&nbsp;:&nbsp;{{ categoryCountsBySize[taille][categorie] }}</button>
				</div>
				<div class="toggle-div d-flex flex-wrap justify-content-center gap-4 mb-4">
					{% for article in articles %}
						<div class="d-flex flex-column gap-3 col-9 col-sm-6 col-md-4 bg-violet-fonce text-white py-3 px-3 rounded-4 text-center">
							<h5 class="card-title">{{ article.nom }}</h5>
							<div><img src="{{ chemin_uploads ~ article.photo }}" alt="photo" class="miniature"></div>
							<div class="d-flex gap-5 justify-content-center">
								<span>{{article.categories.nom}}</span>
								<span>{{article.tailles.nom}}</span>
							</div>
							<div class="text-center">
								{{article.sexe}}
							</div>
							<div class="text-center">
								quantité&nbsp;:&nbsp;{{article.quantity}}
							</div>
							{% if article.prixAchete %}
								<div>prix acheté&nbsp;:&nbsp;{{article.prixAchete}}&nbsp;€</div>
							{% endif %}
							{% if article.offertPar %}
								<div>offert par&nbsp;:&nbsp;{{article.offertPar}}</div>
							{% endif %}
							{% if article.description %}
								<div>description
									<br>{{article.description}}</div>
							{% endif %}
							<div class="mt-auto d-flex justify-content-center gap-3 mt-2 bg-white p-3 rounded-4">
								<a href="{{path('app_user_enfant_article_edit', {'id': article.id, "idEnfant": enfant.id})}}">
									<i class="fa-solid fa-edit color-violet-fonce"></i>
								</a>
								{{ include('user/enfant/articles/_delete_form.html.twig') }}
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		{% endfor %}
	{% else %}
			<div class='text-center'>Vous n'avez aucun article</div>
	{% endif %}
	{# <div class="d-flex flex-column gap-3 align-items-center my-5">
																																																																																																																								<a class='button-violet-clair btn' href="{{ path('app_admin_articles_index') }}">Retour à la liste articles</a>
																																																																																																																								<div class="d-flex gap-3 justify-content-center align-items-center">
																																																																																																																									<a href="{{ path('app_admin_articles_edit', {'id': article.id}) }}">
																																																																																																																										<i class="fa-solid fa-pen-to-square"></i>
																																																																																																																									</a>
																																																																																																																									{{ include('admin/articles/_delete_form.html.twig') }}
																																																																																																																								</div>
																																																																																																																							</div> #}
{% endblock %}
