{{ form_start(form) }}
<div class="form">
	<input name="{{ field_name(form.prenom) }}" value="{{ field_value(form.prenom) }}" placeholder="prénom *" class="form-control" required>
	<span class='form-errors'>{{ form_errors(form.prenom) }}</span>

	{{ form_widget(form.user) }}
	<span class='form-errors'>{{ form_errors(form.user) }}</span>

	<button class="button-violet-fonce btn">{{ button_label|default('Valider') }}</button>
</div>
{{ form_end(form) }}
