{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bibou - Editer un enfant admin
{% endblock %}

{% block body %}
	<div class="nom-appli">Le dressing de Bibou</div>
	<h1 class=" text-center p-3">Espace administrateur&nbsp;:
		<br>
		Modifier
		{{ enfant.prenom }}
	</h1>

	{{ form_start(form) }}
	<div class="form">
		<input name="{{ field_name(form.prenom) }}" value="{{ field_value(form.prenom) }}" placeholder="prénom *" class="form-control" required>
		<span class='form-errors'>{{ form_errors(form.prenom) }}</span>

		<button class="button-1 btn">{{ button_label|default('Modifier') }}</button>
	</div>
	{{ form_end(form) }}

	<div class="text-center my-5">
		<a class='button-2 btn' href="{{ path('app_admin_enfants_index') }}">Retour à la liste enfants</a>
	</div>
{% endblock %}
