{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bibou - Ajouter un enfant admin
{% endblock %}

{% block body %}
	<div class="nom-appli">Le dressing de Bibou</div>
	<h1 class=" text-center p-3">Espace administrateur&nbsp;:
		<br>
		Ajouter un enfant
	</h1>

	{{ form_start(form) }}
	<div class="form">
		<input name="{{ field_name(form.prenom) }}" value="{{ field_value(form.prenom) }}" placeholder="prénom *" class="form-control" required>
		<span class='form-errors'>{{ form_errors(form.prenom) }}</span>

		<span>{{form_widget(form.user)}}</span>
		<span class='form-errors'>
			{{form_errors(form.user)}}</span>

		<button class="button-violet-fonce btn">{{ button_label|default('Ajouter') }}</button>
	</div>
	{{ form_end(form) }}

	<div class="text-center my-5">
		<a class='button-violet-clair btn' href="{{ path('app_admin_enfants_index') }}">Retour à la liste enfants</a>
	</div>
{% endblock %}
