{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bibou - Les catégories
{% endblock %}

{% block body %}
	<h1 class="titre-client bg-violet-fonce">
		Les catégories
	</h1>

	<div class="d-flex flex-column gap-2 align-items-center">
		{% for categorie in categories %}
			<div class="d-flex gap-1 bg-white rounded-2 p-2 w-50 justify-content-between">
				{{categorie.nom}}
				{{ include('user/categories/_delete_form.html.twig') }}
			</div>
		{% else %}
			<div>pas de catégorie</div>
		{% endfor %}
	</div>

	<div class="text-center mt-5">
		<a class='button-violet-clair btn' href="{{ path('app_user_enfants_index') }}">Retour à l'accueil</a>
	</div>

	{{ form_start(form) }}
	<div class="add-article-form">
		<div class="mx-auto">
			<input name="{{ field_name(form.nom) }}" value="{{ field_value(form.nom) }}" placeholder="nom de la catégorie *" class="form-control" required>
			<span class='form-errors'>{{ form_errors(form.nom) }}</span>
		</div>

		<div>
			<div class="text-center text-white fw-bold">enfants</div>
			{% for enfant in form.enfants %}
				<div>
					<input type="checkbox" name="{{ field_name(enfant) }}" value="{{ field_value(enfant) }}">
					{{form_label(enfant)}}
				</div>
			{% endfor %}
			<span class='form-errors'>{{ form_errors(form.enfants) }}</span>
		</div>

		<button class="button-vert btn mx-auto">{{ button_label|default('Ajouter une taille') }}</button>
	</div>
	{{ form_end(form) }}

{% endblock %}
