{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bibou - Inscription
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="nom-appli">Le dressing de Bibou</div>
	<h1 class="titreh1 text-center">Inscription</h1>

	{# {{ form_errors(registrationForm) }} #}
	{{ form_start(registrationForm) }}
	<div class="login-form">
		<input name="{{ field_name(registrationForm.email) }}" value="{{ field_value(registrationForm.email) }}" placeholder="e-mail *" class="form-control" required>
		<span class='form-errors'>{{ form_errors(registrationForm.email) }}</span>

		<input name="{{ field_name(registrationForm.plainPassword) }}" value="{{ field_value(registrationForm.plainPassword) }}" placeholder="mot de passe *" class="form-control" required>
		<span class='form-errors'>{{ form_errors(registrationForm.plainPassword) }}</span>


		<div class='d-flex flex-column align-items-center'>
			<span>{{form_widget(registrationForm.agreeTerms)}}{{form_label(registrationForm.agreeTerms)}}</span>
			<span class='form-errors'>
				{{form_errors(registrationForm.agreeTerms)}}</span>
		</div>


		<button type="submit" class="button-1 btn">
			Je m'inscris</button>
	</div>
	{{ form_end(registrationForm) }}

	<div class="footer d-flex flex-column gap-1 align-items-center">
		J'ai déjà un compte&nbsp;?
		<a href="{{ path("app_login") }}" class="button-2 btn">Je me connecte</a>
	</div>
{% endblock %}
