{% extends 'base.html.twig' %}

{% block title %}Le dressing de
	{{enfant.prenom}}
{% endblock %}

{% block body %}
	{# {{ include("_common/_navbar-enfant.html.twig") }} #}
	<div class="d-flex flex-column gap-3 align-items-center mb-5">
		<div class="titre-client bg-rose">L'inventaire de
			<span class="cursive">{{ enfant.prenom}}</span>
		</div>
		<a href="{{path('app_user_dressing_tailles', {'idEnfant': enfant.id})}}" class="button-violet-fonce btn">par taille</a>
		<a href="{{path('app_user_dressing_categories', {'idEnfant': enfant.id})}}" class="button-violet-fonce btn">par catégorie</a>
	</div>
{% endblock %}
