{% extends 'base.html.twig' %}

{% block title %}Le dressing de
	{{enfant.prenom}}
{% endblock %}

{% block body %}
	<h1 class="titreh1 text-center p-3">Le dressing
		<br>
		de
		<span class="prenom">{{ enfant.prenom}}</span>
		<a href="{{path('app_user_enfants_index')}}">
			<i class="fa-solid fa-repeat switch-icon" style="color: #000000;"></i>
		</a>
	</h1>
	<div class="text-center mb-4">
		<a href="{{path('app_user_enfant_index', {'id': enfant.id})}}" class="icon-house">
			<i class="fa-solid fa-house-user color-violet-fonce"></i>
		</a>
	</div>
	<div class="d-flex flex-column gap-3 align-items-center mb-3">
		<div class="titre-client bg-violet-fonce">Mon inventaire
			<br>
			par taille
		</div>
	</div>

	{% if articleCountsBySizeAndCategory %}
		<div class="d-flex flex-column justify-content-center align-items-center gap-3 mb-5">
			{% for taille, categorieCounts in articleCountsBySizeAndCategory %}
				<div class="violet-card text-center bg-violet-clair p-3 rounded-4 text-white">
					<div class="fw-bold mb-2">{{taille}}&nbsp;:&nbsp;{{articleCountsBySize[taille]}}</div>
					{% for categorie, count in categorieCounts %}
						<div>{{ categorie }}&nbsp;:&nbsp;{{ count }}</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class='text-center'>Vous n'avez aucun article</div>
	{% endif %}
{% endblock %}
