{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bibou - Créarion enfant
{% endblock %}

{% block body %}
	<div class="nom-appli">Le dressing de Bibou</div>
	<h1 class="titreh1 text-center p-3">Bienvenue</h1>
	<div class="text-center">Avant de commencer,
		<br>
		j’ajoute mon enfant
	</div>

	{{ form_start(form) }}
	<div class="form">
		<input name="{{ field_name(form.prenom) }}" value="{{ field_value(form.prenom) }}" placeholder="Prénom *" class="form-control" required>
		<span class='form-errors'>{{ form_errors(form.prenom) }}</span>

		<button type="submit" class="button-1 btn">
			Je valide</button>
	</div>
	{{ form_end(form) }}
{% endblock %}
