{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bébé - Choix enfant
{% endblock %}

{% block body %}
	<h1 class="titreh1 text-center p-3 mt-2">Accueil</h1>
	<h2 class="text-center p-3">Choisir le dressing de</h2>
	<a href="{{ path('app_user_enfant_new')}}" class="button-add">
		<i class="fa-solid fa-square-plus"></i>
	</a>
	<div class="choix-enfant p-3 d-flex flex-column gap-3">
		{% for enfant in enfants %}
			<a href="{{ path('app_user_enfant_index', {'id': enfant.id}) }}" class="form-control m-auto d-flex justify-content-between align-items-center">{{ enfant.prenom }}
				{{ include('user/_delete_form.html.twig') }}
			</a>
		{% endfor %}
	</div>

	<div class="mt-2 mb-5 d-flex flex-wrap gap-3 justify-content-center">
		<a href="{{path('app_user_tailles_new')}}" class="button-vert petit btn mt-0">Les tailles</a>
		<a href="{{path('app_user_categories_new')}}" class="button-vert petit btn mt-0">Les catégories</a>
	</div>
{% endblock %}
